body {
  margin: 1em;
}

.max-width {
  max-width: 58em;
  padding: 0 1em;
  margin: 0 auto;
}

#banner {
  color: #fff;
  background: #999 url("/../img/casco.jpg") no-repeat center top;
  text-align: center;
  font-family: Futura;
  text-align: center;
  margin-top: 0;
  background-size: cover;
  padding: 1em 0
}

#banner h2 {
  font: Futura;
  font-size: 6em;
  padding: 20% 0;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: Futura;
}

p {
  font-family: Arial;
  text-align: justify;
}


nav ul {
  list-style: none;
  text-align: center;
  padding-left: 0;

}

nav li {
  display: inline;

}

nav a {
  display: inline-block;
  color: #000;
  background:#fff;
  padding: .5em;
  border: 1px solid #fff;
  margin: 0 .5em;

}

 ol {
  font-family: Futura;
}

.what {

background-color: #09c;

}

.why {

  background-color: #0c9;

}

.whatto {

  background-color: #cf6;

}

#titulos {
  background-color: #f63;

}

.jump-link-top {
  text-align: center;
  }

.jump-link-top a {
  display: block;
  font: 1.1em Futura;
  text-decoration: none;
  padding: 1.2em;
  }

.jump-link-top .arrow-up {
  font: bold 1.2em "Baskerville";
  vertical-align: middle;
  margin-right: .2em;
  }

.jump-link-text {
  text-decoration: none;
  }

figure {

align: center;

}
